<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подробнее о товаре</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='products.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="categories.html">Категории</a></li>
                <li><a href="contact.html">Контакты</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Подробнее о товаре: Кроссы</h1>
        <div class="product-detail">
            <img width="300px" src="https://fitnessdesign.ru/images/virtuemart/product/SA12RE343-200-1.jpg" alt="Кроссы">
            <div class="product-info">
                <h2>Кроссы</h2>
                <p><b>Цена:</b> $10</p>
                <p><b>Описание:</b> Легкие и удобные кроссовки, идеально подходящие для повседневного использования или спортивных тренировок. Они обеспечивают хорошую амортизацию и вентиляцию.</p>
                <p><b>Характеристики:</b></p>
                <ul>
                    <li>Материал верха: Синтетика</li>
                    <li>Подошва: Резина</li>
                    <li>Доступные размеры: 38-45</li>
                    <li>Цвет: Красный</li>
                </ul>
                <a class="buy-button" href="buy.html">Купить</a>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 Спортивный Магазин</p>
    </footer>
</body>
</html>
